* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 1px solid #000;
}

#list {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    background-color: #ffce57;
    height: 40px;
    line-height: 40px;
}

#list button {
    margin-left: 5%;
    font-size: 17px;
}

#main {
    padding-top: 10px;
    margin: 0 auto;
    width: 90%;
    height: 600px;
    border: 1px solid #000;
}

#main iframe {
    width: 100%;
    height: 100%;
}
