.clear{clear:both;height:0;font-size: 1px;line-height: 0;}
.a {
    width: 18%;
    height: 285px;
    border: 1px solid #000;
    border-radius: 2px;
    margin-top: 20px;
    margin-left: 1.5%;
    float: left;
    display: inherit;
}

.a img {
    width: 100%;
    height: 227px;
}
.a span {
    display: block;
    color: black;
    font-size: 18px;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
b {
    color: #f00;
}

.l {
    float: left;
    width: 95%;
    text-align: right;
    padding-top: 10px;
    font-size: 24px;
}
.l input {
    font-size: 22px;
}


